---
import SocialIcon from "./SocialIcon.astro";
import ActionButton from "./ActionButton.astro";
import Icon from "./Icon.astro";
import { SOCIALS, SITE } from "../consts";
import { getLocale, ui } from "../i18n";

const locale = getLocale(Astro.url);
const t = ui[locale];
---

<div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-between">
  <div class="flex gap-1">
    {SOCIALS.map((s) => <SocialIcon title={s.name} link={s.url} icon={s.icon} />)}
  </div>
  <ActionButton link={`mailto:${SITE.email}`}>
    <Icon name="mail" size={18} />
    {t.emailMe}
  </ActionButton>
</div>
